doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    ul
      each message in messages
        li= message.user + ': ' + message.text + ' - ' + message.added
    a(href='/new') Add New Message
